<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">SUCCESS!</h4>
      </div>
      <div class="modal-body text-center">
        <p>Your have been registerd as a staff member</p>
      </div>
      <div class="modal-footer">
        <a href="/staff-login" role="button" class="btn btn-primary">Login</a>
      </div>
    </div>

  </div>
</div>
