
<% include ./partials/header.ejs %>

<div class="container">
  <h1 class="text-center"><%= title %></h1>

  <ul class="nav nav-pills nav-stacked">
    <li role="presentation" class="active"><a href="/staff-payment">Sign in Your Child</a></li>
  </ul>

<a href="#"></a>

</div>

<% include ./partials/footer.ejs %>
