<% include ./partials/header.ejs %>

    <div class="container">
      <h1 class="text-center"><%= title %></h1>
      <p class="text-center">Welcome to <%= title %></p>
      <div class="logo text-center">
        <img src="http://placehold.it/350x150">
      </div>
      <h2 class="text-center">Pick a profile</h2>
      <div class="text-center" id="calltoaction">
        <a href="/staff-dashboard" role="button">Parents</a>
        <a href="/staff-dashboard"  role="button">Staff</a>
      </div>

    </div><!-- container -->

<% include ./partials/footer.ejs %>
